
*{
  margin: 0;
  padding: 0;
}
.h1{
  text-align: center;
  color:   #282828 !important ; 
  font-family: 'Times New Roman', Times, serif !important ;
  padding-top: 1%;


}
.App{
  min-height: max-content;
  background-color: #f8cdd6;
  background-image: url(./background.jpeg );
  background-size:cover;
  min-height: 100vh;
  
}

.form{
  text-align: justify;
  background-color: #cdc1b9;
  border-radius: 20px;
  color: white;
  width: 90%;
  padding: 5%;
  margin: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float:left;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img{
  height: 5px !important;
}

.mini{
  border-radius: 5px;
}


.small-forms{
  border-radius: 2%;
}

.form-control{
  font-size: 17px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  
}

.form-rapor{
  outline-style: solid;
  outline-color: #3d3d3d;
  border-radius: 20px;
  width: 90% !important;
  min-height: 300px;
}


@media (min-width: 992px) {
  .rapor{
 width: 65% !important ;
 height: 165% !important ;

  }
 

  App{
    min-height: 100vh;
  }

}

a{
  text-decoration: none !important;
  color: white !important;
}


.button{
  background-color:  #C6808C   !important;
  color: white  !important ;
  height: 3%;
  width: 10% !important ;
  padding: 1%;
}



.form-input-group{
  display: flex;
  flex-direction: column;
}


  .button{
 width: 55% !important ;
 height: auto;

}

  .form-rapor{

    outline-style: groove;
    min-height: 300px !important;
  }

  

  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    height: 100%;
    width: 100%;
    min-height: 100vh;
 
  }


button:hover{
  background-color: #282828 !important;
  cursor: pointer;
  border-color: #282828 !important;

}

